<div class="ui container">
    <div class="ui grid container">
        <div style="background-color: aquamarine;" class="four wide column">hey</div>
        <div style="background-color: aquamarine;" class="four wide column">hey</div>
        <div style="background-color: aquamarine;" class="four wide column">hey</div>
        <div style="background-color: aquamarine;" class="four wide column">hey</div>
        <div style="background-color: aquamarine;" class="four wide column">hey</div>
        <div style="background-color: aquamarine;" class="four wide column">hey</div>
        <div style="background-color: aquamarine;" class="four wide column">hey</div>
        <div style="background-color: aquamarine;" class="four wide column">hey</div>
    </div>
</div>